<div class="image-slider">
  <div class="slider-container">
    <div class="slider">
      <div class="slider-image">
        <img
          class="card-img-top mb-5 mb-md-0"
          [src]="images[currentIndex].preview.thumbnail"
        />
      </div>
    </div>
  </div>
  <button (click)="previousImage()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
      <path fill="none" d="M0 0h24v24H0z" />
    </svg>
  </button>
  <button (click)="nextImage()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z" />
      <path fill="none" d="M0 0h24v24H0z" />
    </svg>
  </button>
</div>
