<app-nav></app-nav>
<main>
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Riyadh Events</h1>
          <p class="lead text-muted">
            Stay informed about upcoming festivals, exhibitions, concerts, workshops, and more. Immerse yourself in the rich tapestry of Riyadh's cultural scene and make unforgettable memories. Explore, engage, and experience the dynamic spirit of Riyadh with Riyadh Events.</p>
        </div>
      </div>
    </section>
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>


